<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New page</title>
    <link rel="stylesheet" href="static/css/portfolio/style.css">
    <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
</head>
<body>
<div class="Main_Frame">

    <div class="Head_Frame">
        <h1>THIS IS MY PORTFOLIO</h1>
    </div>

    <div class="Main_Content_Frame">
        <ul>
        <li><nav><a href="/">Home</a></nav></li>

            <li><nav><a href="/hello">Hello</a></nav></li>
            <li><nav><a href="/Boogle">Boogle</a></nav></li>
            <li><nav><a href="/Glamatic">Glamatic</a></nav></li>
            <li><nav><a href="/HairSalon">Hair Salon</a></nav></li>
        </ul>

    </div>
</div>
</body>
</html>